/* TEXT INDENTATION */

p {
  text-indent: 50px;
}

/* LETTER SPACING */

.letterSpacingExperimentation1{
    letter-spacing: 4px;
}

.letterSpacingExperimentation2{
    letter-spacing: -2px;
}

/* LINE HEIGHT */

.small{
    line-height: 0.8;
}

.big{
    line-height: 1.8;
}

/* WORD SPACING */

.one{
    word-spacing: 10px;
}

.two{
    word-spacing: -2px;
}

/* WHITE SPACE */

.whiteSpaceExperimentation{
    /* white-space: nowrap; */
    white-space: pre-wrap;
}
